<ion-header class="ion-no-border">
  <ion-toolbar>

    <ion-buttons slot="start">
      <!-- <ion-button color="primary">
        <ion-icon slot="icon-only" name="arrow-back"></ion-icon>
      </ion-button> -->
    </ion-buttons>

    <ion-buttons slot="end">
      <ion-button routerLink="/signup">Sign up</ion-button>
    </ion-buttons>

    <ion-title color="primary">Log in</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="header">
    <h1>Log in</h1>
    <!-- <img src="" alt=""> -->

  </div>

  <form #userlogin = "ngForm" (ngSubmit) = "onSubmit(userlogin.value)" >
    <input placeholder="Phone" name="userPhone" ngModel type="text" class="inPhone">
   
    <ion-button expand="block" shape="round" type="submit">Login</ion-button>
  </form>

  <p>Vous n'avez pas de compte? <a [routerLink]="['/signup']" routerLinkActive="router-link-active" >créez-en un</a> </p>

</ion-content>
