ion-toolbar{

    ion-button{
        text-transform: initial;
        font-size: 17px;
    }
}

ion-content{

    #header{
        display: flex;
        flex-direction: column;
        align-items: center;

        h1{
            font-weight: 700;
            font-size: 26px;
            margin-bottom: 15%;
        }

        img{
            width: 125px;
            height: 125px;
            border-radius: 50%;
        }
    }

    #form{
        margin-top: 15%;
        padding-left: 30px;
        padding-right: 30px;

        ion-button{
            margin-top: 35px;
            height: 48px;
            font-size: 18px;
            text-transform: initial;
            border-radius: 50px;
            box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
            --box-shadow: none;
        }
    }

    p{
        text-align: center;
        margin-top: 40px;
    }
}
.inPhone{
    width: 95%;
    height: 40px;
    margin: 0 .5rem;
    padding: .2rem .5rem;
    border-radius: 25px;
    border:none
}
