.msg{
    width: 75%;
    height: 2.5rem;
    margin-left: .5rem;
    border: none;
    border-radius: 12px;
    padding: 0 1rem;
}
.send{
    width: 20%;
    height: 2.5rem;
    padding: .2rem;
    
    border-radius: 12px;
}
.left{
    position: relative;
    padding:.5rem 1rem;
    background: rgb(24, 24, 77);
    border-top-right-radius: 12px;
    border-bottom-left-radius: 12px;
    margin:.6rem 1rem;
    max-width: 50%;

    p{
        color: #fff;
    }
    .time{
        text-align: right;
        padding: 0;
        margin: 0;
        font-size: .8rem;
        font-weight: 700;
    }
}

.right{
    position: relative;
    padding:.5rem 1rem;
    background: rgb(4, 60, 29);
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    margin:.6rem 1rem;
    max-width: 50%;
    margin-left: 50%;

    p{
        color: #fff;
    }
    .time{
        text-align: right;
        padding: 0;
        margin: 0;
        font-size: .8rem;
        font-weight: 700;
    }
}