

<ion-content>
  <div class="message" *ngFor="let msg of Messages">
    <div *ngIf="msg.sender==sender&& msg.receiver==receiver">
      <div class="right">{{msg.body}}</div>
    </div>

    <div *ngIf="msg.sender==receiver&& msg.receiver==sender">
      <div class="left">{{msg.body}}</div>
    </div>
  </div>
</ion-content>

<ion-footer>
  <form #userlogin="ngForm" (ngSubmit) = "submitdata(userlogin.value)" >
    <input type="text" class="msg" placeholder="Message" name="message" ngModel id="msg"><button type="submit" class="send">Send</button>
  </form>
</ion-footer>
