ion-toolbar{

  ion-button{
      text-transform: initial;
      font-size: 17px;
  }
}

ion-content{

  h1{
      text-align: center;
      font-weight: 700;
      font-size: 26px;
      margin-bottom: 15%;
  }

  #form{
      margin-top: 15%;
      padding-left: 30px;
      padding-right: 30px;

      ion-button{
          margin-top: 35px;
          height: 48px;
          font-size: 18px;
          text-transform: initial;
          border-radius: 50px;
          box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
          --box-shadow: none;
      }
  }

  p{
      text-align: center;
      margin-top: 40px;
  }
}